.gridSquare {
  min-width: 50px;
  min-height: 50px;
  border: 2px solid rgba(2, 79, 110, 1);
  margin: 0;
  padding: 3px;
  font-weight: 600;
  color: rgba(5, 230, 255, 1);
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

img {
  max-width: 100%;
}

.gridSquare:hover {
  border: 2px dashed rgba(255, 102, 0, 1);
}

.hidden {
  background-image: url(src\assets\Adobe_licensed\Grass.jpeg);
  background-size: contain;
}

.revealed {
  background: none;
}

.detonated {
  
}

.flagged {
  background-image: url(src\assets\Adobe_licensed\Grass.jpeg);
  background-size: contain;
  cursor:default;
  color: rgba(255, 69, 255, 1);
}
