.gameBar {
  border: 2px none gray;
  border-radius: 20px;
  background-color: rgba(15, 63, 69, 0.85);
  margin: 1vw;
  padding: 2vh;
  height: 100%;
  display: flex;
  flex-direction: column;
  max-width: 95vw;
}

.borderLegend {
  float: none;
  width: auto;
  text-align:left;
  font-weight: 600;
}

#message {
  display: flow-root;
  text-align: left;
  line-height: 1.5;
  min-height: 80%;
  height: 16vh;
  overflow-y: auto;
  position: relative;
  bottom: 0;
}

#clearMessages {
  display: flex;
  align-self: flex-end;
}

.row {
  margin: 1vw 0 1vw 0;
}

.btn {
  border-color: rgba(61, 242, 191, 1);
  background-color: rgba(61, 242, 191, 1);
  color: rgba(15, 63, 69, 1);
}

.btn:hover {
  border-color: rgba(28, 200, 151, 1);
  background-color: rgba(28, 200, 151, 1);
}



