html {
  height: 100%;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5vh 10vw 5vh 10vw;
  color: rgb(242, 242, 242);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-image: url(src\assets\adobe_licensed\Seamines.jpeg);
  overflow-y: scroll;
}
